Trong bài này, chúng ta sẽ sử dụng file student.csv trong thư mục data và làm các ví dụ với file này

# Đọc dữ liệu

In [7]:
import pandas as pd

# Đọc dữ liệu từ file CSV
df = pd.read_csv('./data/student.csv')
# in ra 5 dòng đầu tiên
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           NaN   22            3.5         3.7
1     34.39    -118.54      M           NaN   22            2.9         3.2
2     37.80    -122.27      F           NaN   22            3.9         3.8
3     37.69    -122.09      F           NaN   20            3.3         2.8
4    -23.18     -45.88      F           NaN   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5

# Khám phá dữ liệu

In [10]:
# Kiểm tra kiểu dữ liệu và thông tin chung
print(df.info())
print('---------------------------------')
# Xem thống kê mô tả của các cột số
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB
None
---------------------------------
               id    latitude   longitude  ethnic.group         age  \
count  307.000000  307.000000  307.000000           0.0  307.000000
mean   153.000000   32.863388  -64.539121           NaN   21.964169
std     88.767487   13.498582   81.249146           NaN    1.248013
min      0.000000  -33.450000 -123.130000           NaN   19.000000
25%     76.500000   32.720000 -118.240000           NaN   21.000000
50%    153.000000   34.390000  -99.140000           NaN   22.000000
75%    229.500000   38.960000  -73.855000           NaN   23.000000
max    306.000000   59.890000  139.750000           NaN   26.000000

       english.grade  math.grade  sciences.grade  language.grade  \
count     307.000000  307.000000      307.000000      307.000000
mean        3.369707    3.414332        3.446580        4.396417
std         0.538724    0.476839        0.509081        0.996474
min         1.500000    2.100000        1.400000        1.000000
25%         3.100000    3.100000        3.200000        4.000000
50%         3.500000    3.500000        3.600000        5.000000
75%         3.800000    3.800000        3.800000        5.000000
max         4.000000    4.000000        4.000000        5.000000

       portfolio.rating  coverletter.rating  refletter.rating
count        307.000000          307.000000        307.000000
mean           3.986971            4.110749          4.188925
std            0.928749            0.823936          0.842193
min            1.000000            1.000000          1.000000
25%            3.500000            4.000000          4.000000
50%            4.000000            4.000000          4.000000
75%            5.000000            5.000000          5.000000
max            5.000000            5.000000          5.000000

In [59]:
nationality_counts = df['nationality'].value_counts()
print(nationality_counts)

nationality
United States of America    193
Mexico                       24
China                        13
Japan                        13
Brazil                        9
India                         8
Canada                        7
Russian Federation            6
Colombia                      5
Korea (Republic of)           3
Pakistan                      3
Spain                         2
Turkey                        2
United Kingdom                2
Dominican Republic            1
Bangladesh                    1
Thailand                      1
Chile                         1
Netherlands                   1
Morocco                       1
Ukraine                       1
Egypt                         1
El Salvador                   1
Germany                       1
Peru                          1
Philippines                   1
Myanmar                       1
Tunisia                       1
Cuba                          1
Poland                        1
Nicaragua                     1
Name: count, dtype: int64

# Tìm giá trị lớn nhất/nhỏ nhất

In [31]:
# Tìm học sinh có điểm English cao nhất
highest_english_grade = df['english.grade'].max()
print(highest_english_grade)
student_with_highest_english_grade = df[df['english.grade'] == highest_english_grade]
print(student_with_highest_english_grade[['name', 'english.grade']])

4.0
                    name  english.grade
15         Brittany Sath            4.0
68       Gabrielle Smith            4.0
120        Meghan Arnold            4.0
123       Gareth Newkirk            4.0
140         Faviola Soto            4.0
174        Andrew Bishop            4.0
181  Addie Villavicencio            4.0
195         Joshua Mesan            4.0
197           Troy White            4.0
201          Tyler Kibel            4.0
227    Patricia Rockhold            4.0
229     Katherine Beatty            4.0
240        Rylee Onstott            4.0
246    Vittoria Faulkner            4.0
268     Bryant Ronquillo            4.0
269         Garrett Heim            4.0
275       Blake Loughran            4.0
286      Michael Griffin            4.0

# Lọc dữ liệu

Các toán tử trong pandas
- `|`: or
- `&`: and
- `~`: not

In [36]:
filtered_df = df[(df['english.grade'] > 3.0) | (df['math.grade'] > 3.2)]
print(filtered_df[['name', 'english.grade', 'math.grade']])

                  name  english.grade  math.grade
0            Kiana Lor            3.5         3.7
2        Dakota Blanco            3.9         3.8
3      Natasha Yarusso            3.3         2.8
4       Brooke Cazares            3.7         2.6
5     Rochelle Johnson            3.4         3.1
..                 ...            ...         ...
301   Vanessa Gonzalez            3.3         3.7
302        Austin Haas            3.6         3.7
303    Madison Fithian            3.6         3.9
304  Zachary Mulvahill            3.2         3.4
306    Dane Whittemore            3.8         3.2

[286 rows x 3 columns]

In [40]:
filtered_df = df[(df['gender'] == 'F') & (df['nationality'] == 'Brazil')]
print(filtered_df[['name', 'gender', 'nationality']])

                      name gender nationality
4           Brooke Cazares      F      Brazil
135             Ivy Lucero      F      Brazil
180  Nicole Torres-Valadez      F      Brazil
226       Abigail Gallegos      F      Brazil
271          Jasmine Lopez      F      Brazil
285  Viridiana Ballesteros      F      Brazil

In [41]:
filtered_df = df[~(df['nationality'] == 'Brazil')]
print(filtered_df[['name', 'nationality']])

                  name               nationality
0            Kiana Lor                     China
1       Joshua Lonaker  United States of America
2        Dakota Blanco  United States of America
3      Natasha Yarusso  United States of America
5     Rochelle Johnson  United States of America
..                 ...                       ...
302        Austin Haas  United States of America
303    Madison Fithian  United States of America
304  Zachary Mulvahill  United States of America
305   Eliana Michelsen  United States of America
306    Dane Whittemore                    Canada

[298 rows x 2 columns]

In [52]:
# Kết hợp nhiều điều kiện
filtered_df = df[(df['gender'] == 'M') & (df['age'] > 18) & (df[['math.grade', 'sciences.grade', 'language.grade','language.grade']].mean(axis=1) > 3.5)]
print(filtered_df[['name', 'age', 'gender', 'math.grade', 'sciences.grade', 'language.grade']])

                     name  age gender  math.grade  sciences.grade  \
1          Joshua Lonaker   22      M         3.2             3.6
12      Alexander Sherman   20      M         3.6             3.9
13          Edgar Sanchez   23      M         3.5             4.0
14           Kolbi Strunk   21      M         3.9             3.3
18             David Pulc   24      M         2.9             4.0
..                    ...  ...    ...         ...             ...
298          Nicolas Papp   23      M         3.7             3.9
299  Christopher Inhulsen   23      M         3.3             2.9
302           Austin Haas   20      M         3.7             3.1
304     Zachary Mulvahill   20      M         3.4             3.9
306       Dane Whittemore   21      M         3.2             4.0

     language.grade
1               5.0
12              5.0
13              4.0
14              5.0
18              5.0
..              ...
298             5.0
299             5.0
302             5.0
304             5.0
306             5.0

[125 rows x 6 columns]

In [57]:
df[['math.grade', 'sciences.grade', 'language.grade','language.grade']].mean(axis=0)

math.grade        3.414332
sciences.grade    3.446580
language.grade    4.396417
language.grade    4.396417
dtype: float64

# Group By - df.groupby()

Dùng để chia df thành từng nhóm và tổng hợp giá trị. Các hàm thường dùng

- mean(): Tính giá trị trung bình của mỗi nhóm.
- sum(): Tính tổng của mỗi nhóm.
- count(): Đếm số lượng phần tử trong mỗi nhóm.
- max(): Tìm giá trị lớn nhất của mỗi nhóm.
- min(): Tìm giá trị nhỏ nhất của mỗi nhóm.
- std(): Tính độ lệch chuẩn của mỗi nhóm.
- median(): Tính giá trị trung vị của mỗi nhóm.
- agg(): Áp dụng nhiều hàm tổng hợp khác nhau lên mỗi nhóm.

In [13]:
grouped = df.groupby('nationality')
print(type(grouped))
print(grouped.groups)

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
{'Bangladesh': [146], 'Brazil': [4, 7, 96, 135, 180, 203, 226, 271, 285], 'Canada': [18, 104, 111, 121, 139, 293, 306], 'Chile': [211], 'China': [0, 6, 21, 24, 61, 76, 162, 176, 189, 194, 214, 218, 232], 'Colombia': [94, 183, 185, 244, 283], 'Cuba': [70], 'Dominican Republic': [29], 'Egypt': [150], 'El Salvador': [105], 'Germany': [128], 'India': [35, 41, 72, 172, 175, 198, 215, 259], 'Japan': [15, 20, 37, 43, 46, 79, 95, 97, 99, 164, 200, 264, 280], 'Korea (Republic of)': [68, 213, 251], 'Mexico': [13, 17, 39, 49, 50, 82, 87, 112, 117, 125, 140, 141, 145, 148, 169, 178, 188, 191, 210, 236, 237, 265, 268, 296], 'Morocco': [187], 'Myanmar': [85], 'Netherlands': [190], 'Nicaragua': [301], 'Pakistan': [23, 59, 101], 'Peru': [36], 'Philippines': [8], 'Poland': [65], 'Russian Federation': [42, 93, 120, 134, 177, 217], 'Spain': [52, 129], 'Thailand': [234], 'Tunisia': [77], 'Turkey': [9, 171], 'Ukraine': [165], 'United Kingdom': [173, 230], 'United States of America': [1, 2, 3, 5, 10, 11, 12, 14, 16, 19, 22, 25, 26, 27, 28, 30, 31, 32, 33, 34, 38, 40, 44, 45, 47, 48, 51, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 69, 71, 73, 74, 75, 78, 80, 81, 83, 84, 86, 88, 89, 90, 91, 92, 98, 100, 102, 103, 106, 107, 108, 109, 110, 113, 114, 115, 116, 118, 119, 122, 123, 124, 126, 127, 130, 131, 132, 133, 136, 137, 138, 142, 143, 144, 147, 149, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 163, 166, ...]}

In [15]:
print(df.iloc[146])

id                                 146
name                  Juhaina al-Bilal
nationality                 Bangladesh
city                             Dhaka
latitude                         23.72
longitude                        90.41
gender                               F
ethnic.group                       NaN
age                                 20
english.grade                      3.9
math.grade                         3.9
sciences.grade                     3.9
language.grade                     5.0
portfolio.rating                     5
coverletter.rating                 4.0
refletter.rating                     5
Name: 146, dtype: object

In [19]:
print(grouped.get_group('Japan'))

      id             name nationality       city  latitude  longitude gender  \
15    15    Brittany Sath       Japan      Tokyo     35.69     139.75      F
20    20       Rojesh Her       Japan      Tokyo     35.69     139.75      M
37    37    Katrina Saito       Japan      Tokyo     35.69     139.75      F
43    43  Kenny Fukushima       Japan      Tokyo     35.69     139.75      M
46    46       Alan Trinh       Japan      Tokyo     35.69     139.75      M
79    79     Macie Nguyen       Japan      Tokyo     35.69     139.75      F
95    95  Danielle Nguyen       Japan      Tokyo     35.69     139.75      F
97    97    William Pablo       Japan  Kashiwara     34.58     135.62      M
99    99    Antonio Desai       Japan   Kawasaki     35.52     139.72      M
164  164       Min Singal       Japan      Tokyo     35.69     139.75      F
200  200     Kitty Nguyen       Japan      Tokyo     35.69     139.75      F
264  264  Murtidevi Chung       Japan      Tokyo     35.69     139.75      F
280  280     Tiffanie Her       Japan      Tokyo     35.69     139.75      F

     ethnic.group  age  english.grade  math.grade  sciences.grade  \
15            NaN   21            4.0         3.9             3.7
20            NaN   22            3.8         3.6             3.6
37            NaN   22            3.8         4.0             3.7
43            NaN   22            3.9         2.9             3.3
46            NaN   20            2.8         3.1             3.8
79            NaN   23            3.1         3.8             3.8
95            NaN   23            3.3         3.5             3.6
97            NaN   24            2.9         3.3             3.1
99            NaN   22            2.2         3.9             3.9
164           NaN   24            3.8         2.9             2.9
200           NaN   25            3.4         3.2             2.9
264           NaN   21            2.9         3.9             3.5
280           NaN   22            3.4         4.0             3.6

     language.grade  portfolio.rating  coverletter.rating  refletter.rating
15              3.0                 5                 3.0                 5
20              2.0                 4                 4.0                 3
37              4.0                 5                 4.0                 5
43              4.0                 5                 5.0                 5
46              4.0                 3                 4.0                 5
79              4.0                 2                 4.0                 3
95              3.0                 5                 4.0                 4
97              4.0                 2                 5.0                 4
99              3.0                 5                 4.0                 5
164             4.0                 5                 3.0                 2
200             4.0                 4                 3.0                 5
264             2.0                 4                 5.0                 4
280             3.0                 4                 4.0                 3

In [26]:

# Tính điểm trung bình của các môn học theo quốc tịch
average_grades_by_nationality = df.groupby('nationality')[['english.grade', 'math.grade', 'sciences.grade', 'language.grade']].agg('mean')
print(average_grades_by_nationality)

                          english.grade  math.grade  sciences.grade  \
nationality
Bangladesh                     3.900000    3.900000        3.900000
Brazil                         3.577778    3.377778        3.055556
Canada                         3.657143    3.014286        3.600000
Chile                          3.700000    3.700000        4.000000
China                          3.253846    3.784615        3.376923
Colombia                       3.540000    3.580000        3.280000
Cuba                           3.900000    2.800000        3.200000
Dominican Republic             3.400000    3.800000        4.000000
Egypt                          1.500000    3.500000        3.200000
El Salvador                    3.300000    2.900000        3.500000
Germany                        3.200000    3.500000        3.900000
India                          3.000000    3.275000        3.637500
Japan                          3.330769    3.538462        3.492308
Korea (Republic of)            3.533333    3.066667        3.200000
Mexico                         3.358333    3.387500        3.441667
Morocco                        2.400000    3.600000        3.800000
Myanmar                        3.100000    3.400000        3.700000
Netherlands                    2.500000    3.500000        3.700000
Nicaragua                      3.300000    3.700000        3.800000
Pakistan                       3.400000    2.933333        3.333333
Peru                           3.700000    3.100000        3.000000
Philippines                    3.900000    3.600000        3.200000
Poland                         3.900000    3.800000        3.000000
Russian Federation             3.550000    3.383333        3.133333
Spain                          3.450000    3.750000        3.400000
Thailand                       3.300000    3.900000        3.900000
Tunisia                        3.500000    3.100000        4.000000
Turkey                         2.600000    2.700000        3.850000
Ukraine                        3.100000    3.300000        3.900000
United Kingdom                 3.400000    3.150000        3.200000
United States of America       3.379275    3.417098        3.455959

                          language.grade
nationality
Bangladesh                      5.000000
Brazil                          2.888889
Canada                          5.000000
Chile                           3.000000
China                           3.153846
Colombia                        3.200000
Cuba                            3.000000
Dominican Republic              4.000000
Egypt                           3.000000
El Salvador                     3.000000
Germany                         3.000000
India                           3.125000
Japan                           3.384615
Korea (Republic of)             2.666667
Mexico                          3.445833
Morocco                         3.000000
Myanmar                         3.000000
Netherlands                     4.000000
Nicaragua                       3.000000
Pakistan                        3.333333
Peru                            3.000000
Philippines                     2.000000
Poland                          3.000000
Russian Federation              3.500000
Spain                           3.000000
Thailand                        2.000000
Tunisia                         4.000000
Turkey                          3.000000
Ukraine                         3.000000
United Kingdom                  5.000000
United States of America        5.000000

In [25]:

# Đếm số lượng học sinh theo thành phố và giới tính
student_count_by_city_gender = df.groupby(['city', 'gender'])['id'].count()
print(student_count_by_city_gender)

city            gender
Aguascalientes  F         1
                M         1
Alfenas         F         1
Ankara          F         1
Baltimore       M         1
                         ..
Waukegan        M         1
West Jordan     F         1
Wuhan           M         1
Zamora          F         1
Zülpich         F         1
Name: id, Length: 192, dtype: int64

# sắp xếp df.sort_values
`sorted_df = df.sort_values(by='column', ascending=True)`

In [51]:
sorted_by_english = df.sort_values(by='english.grade')
print(sorted_by_english[['name', 'english.grade']])

                       name  english.grade
150  Abdul Jabbaar el-Abdul            1.5
41       Afnaan el-Mohammed            1.7
11             Sasha Jansen            1.7
162          Rebecca Ah Fat            1.8
53           Moira Buttitto            1.9
..                      ...            ...
120           Meghan Arnold            4.0
123          Gareth Newkirk            4.0
227       Patricia Rockhold            4.0
197              Troy White            4.0
268        Bryant Ronquillo            4.0

[307 rows x 2 columns]

# Bài tập
- Tìm 5 học sinh có điểm trung bình các môn học cao nhất.
- Tìm thành phố có nhiều học sinh nhất.
- Tạo một cột mới 'overall_rating' là trung bình cộng của 'portfolio.rating', 'coverletter.rating' và 'refletter.rating'.